@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: blue; */
    background:linear-gradient(to right, rgb(255, 120, 120),rgb(230, 105, 255),rgb(116, 234, 255));
}
.parent{
    position: relative;
    width: 400px;
    height: 500px;
    background:rgba(87, 87, 87, .2);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    padding: 40px;
}
.forms-parent{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.parent.active .forms-parent.sign-in{
    transform: scale(0) translate(-300px, 500px);
}

.parent .forms-parent.sign-up{
    position: absolute;
    top: 0;
    transform: scale(0) translate(200px, -500px);
}

.parent.active .forms-parent.sign-up{
    transform: scale(1) ;
}

h2{
    font-size: 30px;
    color: white;
    text-align: center;
}
.input-g{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid white;
}
.input-g label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color:white;
    transition: .5s;
}
.input-g input{
    width: 320px;
    height: 40x;
    font: 16px;
    color: white;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}
.input-g input:focus~label,
.input-g input:valid~label{
    top: -5px;
}
.remember{
    margin: -5px 0px 15px 5px;
}
.remember label{
    color: white;
    font-size: 14px;
}
.remember label input{
    accent-color: rgb(248, 38, 147);
}
button{
    position: relative;
    width: 100%;
    height: 40px;
    background-color:  rgb(248, 38, 147);
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}
.signUp-link{
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}
.signUp-link p{
    color: white;
}
.signUp-link p a{
    color: rgb(248, 38, 147);
    text-decoration: none;
    font-weight: 500;
}
.signUp-link p a:hover{
    text-decoration: underline;
}
.socialsPlataform{
    font-size: 14px;
    color: white;
    text-align: center;
}
.socialIcons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin: 15px 6px 0;
    transition: .4s;
}
.socialIcons a:hover{
    background: white;
}
.socialIcons a i{
    color: white;
    font-size: 14px;
}
.socialIcons a:hover i{
    color: rgba(0, 0, 0, .5);
}